  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700;900&family=Roboto:wght@100;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
}


nav{
    background-color: #fff;
    height: 70px;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.header-text {
    background: url("./img/banner.jpg") center;
    height: 500px;
}

.header-text_box {
    width: 70%;
    margin: auto;
    position: relative;
}

.header-text_box h1 {
    font-size: 300%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    border-bottom: 5px solid #fff;
    color: #fff;
}

.b-letter{
color: yellow;
}
.i-letter {
color: red;
}

.k-letter{
color: rgb(56, 56, 132);
}
/************* section mission ******************/

.section-mission{
    background-color:#FFE964;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-mission_box{
    width: 70%;
    margin: auto;
    text-align: center;
}

.section-mission_box h2 {
    margin-bottom: 30px;
    font-size: 40px;
   font-weight: 900;
   font-family: 'Lato', sans-serif;
}